<% case Time.now.to_i % 4 %>
<% when 0 %>
  <p class="bg-blue-500 text-xl chat">chat</p>
<% when 1 %>
  <p class="bg-red-500 text-2xl chat">some_target</p>
<% when 2 %>
  <p class="bg-amber-500 text-3xl chat">some_target</p>
<% else %>
  <p class="bg-emerald-500 text-4xl chat">some_target</p>
<% end %>
