<div id=<%= dom_id game, :game_events %> class="p-2 text-secondary">
  <% game_events.each do |event, time, data| %>
    <p><%= "#{event} -- #{time.strftime("%T.%3N")}" %></p>
    <p class="mb-2 text-2xl"><%= data %></p>
  <% end %>
</div>
