<div id=<%= dom_id game, :game_state %> class="p-2 text-secondary text-2xl">
  <p>Game State: <%= game.state %></p>
  <div class="grid grid-cols-8">
    <div class="col-span-5">
      <p>Player:</p>
      <%= render 'frontend/games/game_players', players: game.players, current_player_id: session.dig("user_info", "id") %>
    </div>
    <div class="text-lg">
      <p>Events (Last 10)</p>
      <%= render 'frontend/games/game_events', game:, game_events: Utils::Redis.last_10_game_events(game.uuid) %>
    </div>
  </div>
