<section class="card-mono">
  <details>
    <summary>
      <header class="p-2 text-secondary cursor-pointer underline">ROOM INFO</header>
    </summary>
    <div class="p-2 text-primary text-2xl">
      <p>Game ID: <%= game.uuid %></p>
      <p>Room ID: <%= game.room_id %></p>
      <p>Player Numbers: <%= game.players.size %></p>
    </div>
  </details>
</section>
