<p id=<%= "self_status_#{session.dig("user_info", "id")}" %> class="inline-flex items-center">Cucumbers:
  <% (1..5).each do |i| %>
    <% if i <= cucumbers %>
      <img src="/cucumber.png" alt="" sizes="64px" class="w-16">
    <% else %>
      <img src="/cucumber.png" alt="" sizes="64px" class="w-16 grayscale">
    <% end %>
  <% end %>
</p>
