<div id=<%= "self_status_#{session.dig("user_info", "id")}" %> class="p-2 text-primary text-2xl">
  <p>Nickname: <span class="text-pink-500"><%= session.dig("user_info", "nickname") %></span></p>
  <p>ID: <span class="text-pink-500"><%= session.dig("user_info", "id") %></span></p>
  <p class="inline-flex items-center">Cucumbers:
    <% (1..5).each do |i| %>
      <% if i <= cucumbers %>
        <img src="/cucumber.png" alt="" sizes="64px" class="w-16">
      <% else %>
        <img src="/cucumber.png" alt="" sizes="64px" class="w-16 grayscale">
      <% end %>
    <% end %>
  </p>
</div>
