<h1 class="text-primary text-4xl">Hello World</h1>
<div>
  <p class="text-secondary text-2xl">GameId: <%= params[:id] %></p>
</div>
<div>
  <%= link_to 'end game', end_game_frontend_game_path, data: { turbo_method: :post }, remote: true %>
</div>
<%= debug session[:token] %>
<%= debug @game %>
